@charset "UTF-8";
/**
 * Основные стили
 **/

html {
  font-size: 16px;
  color: #000;
}

body {
  font-family: 'Karla', 'Arial', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-height: 100vh;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}
