@import "../../styles/variables";

.root{
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap{
  height: 80vh;
  display: flex;
  padding: 100px;
}

.contentText{
  flex: 1;
  font-size: 32px;
}

.contentParallax{
  flex: 2;
}

.heading{
  font-size: 72px;
}